body{
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

@font-face {

    font-family: 'quicksand';
    src: url('../font/quicksand 2/Quicksand-Regular.otf');
    font-style: normal;
}
@font-face{
  font-family: 'quicksand-light';
    src: url('../font/quicksand 2/Quicksand-Light.otf');
    font-style: normal;
}
@font-face{
    font-family: 'cylburn';
    src: url('../font/Cylburn.otf');
    font-style: normal;
}
@font-face{
    font-family: 'simplifica';
    src: url('../font/Simplifica.ttf');
    font-style: normal;
}
@font-face{
    font-family: 'anders';
    src: url('../font/Anders.ttf');
    font-style: normal;
}

h2{
  font-family: quicksand;
  color:#455A64;
  text-align: center;
}

a.anchor {
    display: block;
    position: relative;
    top: -125px;
    visibility: hidden;
}

.navbar-default {
  background: #455A64;
  filter: none !important;
  color:#fff;
   display: inline-block;
     -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.navbar-default .navbar-brand{
  font-family:anders;
  color: #fff;
  font-size: 250%;  
  
}

.navbar-default .navbar-brand:hover{
  color:#000;
}
.navbar-default .nav li a{
  color:#fff;
}

.navbar-default .nav li.active a {
    color:#fff;
    background:#455A64; 
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #607D8B;
    color:#fff;
}


@media (max-width: 767px) {
    body > .container { overflow: hidden; } /* fix */
}


.head{
  padding:0px;
}


.bg {
  background:#607D8B;
}

.jumbotron{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    margin:0;
    padding: 40px 0px 100px 0px;
}

.mission{
  padding-top: 140px;
  padding-bottom: 140px;
}

.mission h1{
  color: #FFFFFF;
  font-family:quicksand;
}

.mission p{
  color: #fff;
  font-family:quicksand-light;
}

.mission img{ 
   border:10px solid #455A64;
   height:140px;
   width:140px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}

.about{
  margin-right: -15px;
  margin-left:-15px;
  height:100%;
}

.about h2{
  font-family: quicksand;
  color:#455A64;
}

.about p{
  font-size: medium;
}

.about .aboutme{
  display: none;
}

.experience{
  background-color: #455A64;
}
.experience p{
  font-size: medium;
  color:#fff;
}
.experience h2{
  font-family: quicksand;
  color:#fff;
  text-align: center;
}

.skills{
  background-color: #fff;
}
.skills p{
  font-size: medium;
}
.skills h2{
  font-family: quicksand;
  color:#455A64;
  text-align: center;
}

.technologies{
  background-color: #fff; 
}

.technologies p{
  font-size: medium;
}

.technologies h2{
  font-family: quicksand;
  color:#455A64;
  text-align: center;
}

.projects{ 
}

.projects p{
  font-size: medium;
}

.projects h2{
  font-family: quicksand;
  color:#455A64;
  text-align: center;
}

.carousel {
  background-color: #607D8B;
}

.carousel .container {
  position: relative;
  z-index: 9;
  padding-top: 40px;
}

.carousel-control {
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  min-width: 100%;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 500px !important;
  height: 100%;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px 20px;
  margin-top: 200px;
}

.contact{
  background-color: #607D8B;
  padding:10px 100px 60px 100px;
}

.contact h2{
  font-family: quicksand;
  color:#fff;
  text-align: center;
}

.contact .social{
  float:center;
}
/*.nav{
  width:25%;
}*/

.btn-linkedin {
  border-color: #245580;
  background-color: #007bb6;
  color:white;
  font-family: quicksand;
}
.btn-github {
  border-color: #245580;
  background-color: #444;
  color:white;
  font-family: quicksand;
}
.btn-email {
  border-color: #245580;
  background-color: #dd4b39;
  color:white;
  font-family: quicksand;
}

.btn-phone {
  border-color: #245580;
  background-color: #004D40;
  color:white;
  font-family: quicksand;
}

.contact .btn{
  padding-left: 2%;
  padding-right:2%;
  width: 160px;
}

.contact .btn:hover{
  color:#aaa;
}

.contact .phone{
  display: none;
  color:#fff;
}

.contact .email{
  display: none;
  color:#fff;
}


.footer {
  position:absolute;
  left:0%;
  right:0%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #455A64;
  margin-top:-30px;

}
.footer p {
  margin: 20px 0;
  color: #fff;
}
